In [13]:
import pandas as pd
%matplotlib inline

In [51]:
df = pd.read_excel('Frota_Reg_UF-Tipo_Modelo_Fevereiro_2019.xls', usecols=[0, 4, 15, 16, 1])
df.columns = ['Regiões/Estado', 'Caminhões', 'Reboque', 'Semi-Reboque', 'Total de Veículos']

In [83]:
#para coletar sem filtro
#
df = pd.read_excel('Frota_Reg_UF-Tipo_Modelo_Fevereiro_2019.xls')

In [73]:
df[['Regiões/Estado', 'Caminhões', 'Reboque', 'Semi-Reboque', 'Total de Veículos']]

,Regiões/Estado,Caminhões,Reboque,Semi-Reboque,Total de Veículos
0,NaN,NaN,NaN,NaN,NaN
1,Grandes Regiões e\nUnidades da Federação,TOTAL,CAMINHÃO,REBOQUE,SEMI-REBOQUE
2,Brasil,101346180,2773954,1626230,968072
3,Norte,5303197,152525,74447,52497
4,Acre,280135,7219,3303,1445
5,Amapá,196646,4178,1326,1131
6,Amazonas,889093,20059,3218,12739
7,Pará,2029737,62314,24729,15913
8,Rondônia,992396,31148,15094,12635
9,Roraima,220600,5161,1434,1336
10,Tocantins,694590,22446,25343,7298
11,Nordeste,17509879,464802,207173,103982
12,Alagoas,846189,21674,17853,7290
13,Bahia,4170214,118653,51490,35913
14,Ceará,3167989,74087,37168,13120
15,Maranhão,1710464,41601,12046,8031
16,Paraíba,1303035,28746,8207,4638
17,Pernambuco,3029343,93617,39682,19930
18,Piauí,1204876,30301,6569,4144
19,Rio Grande do Norte,1299859,34599,14982,7487
20,Sergipe,777910,21524,19176,3429
21,Sudeste,49179420,1234759,647040,387681
22,Espírito Santo,1947766,73714,31719,25770
23,Minas Gerais,11254374,335816,191325,89054
24,Rio de Janeiro,6757064,145047,70770,21504
25,São Paulo,29220216,680182,353226,251353
26,Sul,19905585,657855,427535,280059
27,Paraná,7608434,273104,137653,133355
28,Rio Grande do Sul,7113645,231371,182846,75692
29,Santa Catarina,5183506,153380,107036,71012
30,Centro-Oeste,9448099,264013,270035,143853
31,Distrito Federal,1823336,24011,23743,4247
32,Goiás,3931431,112753,173185,49487
33,Mato Grosso,2099679,73634,38333,60005
34,Mato Grosso do Sul,1593653,53615,34774,30114
35,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN
38,"Tabela 2 - Percentagem de veículos, por tipo s...",NaN,NaN,NaN,NaN
39,Brasil %,TOTAL,CAMINHÃO,REBOQUE,SEMI-REBOQUE
40,NaN,101346180,2773954,1626230,968072
41,NaN,100%,0.0273711,0.0160463,0.00955213
42,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN
44,"Fonte: Ministério das Cidades, DENATRAN - Depa...",NaN,NaN,NaN,NaN

In [87]:
df.head(3)

,"Frota de veículos, por tipo e com placa, segundo as Grandes Regiões e Unidades da Federação - FEV / 2019",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Grandes Regiões e\nUnidades da Federação,TOTAL,AUTOMÓVEL,BONDE,CAMINHÃO,CAMINHÃO TRATOR,CAMINHONETE,CAMIONETA,CHASSI PLATAFORMA,CICLOMOTOR,...,ÔNIBUS,QUADRICICLO,REBOQUE,SEMI-REBOQUE,SIDE-CAR,OUTROS,TRATOR ESTEIRA,TRATOR RODAS,TRICICLO,UTILITÁRIO
2,Brasil,101346180,54995950,42,2773954,661225,7607773,3445633,1762,392866,...,630071,204,1626230,968072,8525,15241,209,32077,35174,902353